@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
}

.app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.app h1 {
  font-family: 'Bigelow Rules', cursive;
  font-size: 72px;
  color: #0ccac4;
  margin-bottom: 15px;
}

.card_list {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.card_wrapper {
  background-color: cyan;
  color: #000;
  padding: 10px;
}

.card_wrapper img {
  width: 100%;
}

input.search {
  padding: 20px;
  margin-bottom: 20px;
}
